{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/wickedpicker.min.css')}}"/>
<script src="{{=URL('static','js/wickedpicker.min.js')}}"></script>

<h1>RestfulWake</h1>
<p>
  Awaken at the optimal time to feel well rested!
</p>


<form action="alarm_request">
  <p>
    <label>Earliest Wake Time</label><br />
    <input type="text" name="early_time" class="timepicker" />
  </p>

  <p>
    <label>Latest Wake Time</label><br />
    <input type="text" name="late_time" class="timepicker" />
  </p>

  <input type="submit" value="Submit" />
</form>


<script type="text/javascript">
  $('.timepicker').wickedpicker();
</script>


